head
  link(rel='stylesheet', href='../style.css')
  link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header 
    img(src=schoolImage)
    h1 Node.js Receipt parsing

  h2 please upload an image of your receipt

  
  form(action="/receipt" method = "POST" enctype="multipart/form-data").form  
    p
    
    input(type='file', name='imageSource').input   
    input(type='submit', value='Submit')